@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


